<!-- Top Menu Items -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="nav-wrap">
    <div class="mobile-only-brand pull-left">
      <div class="nav-header pull-left">
        <div class="logo-wrap">
          <a href="/">
            <img class="brand-img" src="/mashisoyologo.png" alt="brand"/>
            <span class="brand-text"><img  src="/mashisoyologo.png" alt="brand"/></span>
          </a>
        </div>
      </div>
      <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="ti-align-left"></i></a>
      <a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
      <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="ti-more"></i></a>
    </div>
    <div id="mobile_only_nav" class="mobile-only-nav pull-right">
      <ul class="nav navbar-right top-nav pull-right">

        <li class="dropdown auth-drp">
          
          <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
            <%if current_admin.image.present?%>
              <img src="<%=current_admin.image.url%>" alt="user_auth" class="user-auth-img img-circle" /><span
                class="user-online-status"></span></a>
            <%else%>
             <img src="/profile.png" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
            <%end%>
            <span class="user-online-status"></span>
          </a>
          <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
            <li>
              <%=link_to admin_admin_path(current_admin.id) do%>
                <i class="zmdi zmdi-account"></i><span>Profile</span>
              <%end%>
            </li>
            <li>
              <%=link_to edit_admin_admin_path(current_admin.id) do%>
                <i class="zmdi zmdi-edit"></i><span>Edit Profile</span>
              <%end%>
            </li>
            <li>
              <%=link_to admin_admins_path do %>
                <i class="zmdi zmdi-lock"></i><span>Adminstrators</span>
              <%end%>
            </li>
            <li>
              <%=link_to admin_exchange_rates_path do %>
                <i class="zmdi zmdi-settings"></i><span>Setting</span>
              <%end%>
            </li>
            <li class="divider"></li>
            <li>
              <%=link_to destroy_admin_session_path, method: :delete do%>
                <i class="zmdi zmdi-power"></i><span>Log Out</span>
              <%end%>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Top Menu Items -->

<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span>Main</span>
      <hr/>
    </li>
    <li>
      <%=link_to admin_dashboards_path do%>
      <div class="pull-left"><i class="ti-dashboard mr-20"></i><span class="right-nav-text">Dashboard</span></div>
      <div class="clearfix"></div>
      <%end%>
    </li>
    <li>
      <%=link_to admin_users_path do%>
        <div class="pull-left"><i class="ti-user mr-20"></i><span class="right-nav-text">Employee</span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>
    <li>
      <%=link_to admin_customers_path do%>
        <div class="pull-left"><i class="ti-face-smile mr-20"></i><span class="right-nav-text">Customers</span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>
    <li>
      <%=link_to admin_categories_path do%>
        <div class="pull-left"><i class="ti-image mr-20"></i><span class="right-nav-text">Category </span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>

    <li>
      <%=link_to admin_products_path do%>
        <div class="pull-left"><i class="ti-shopping-cart mr-20"></i><span class="right-nav-text">Product </span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>

    <li>
      <%=link_to admin_cash_drawers_path(state: "assign") do%>
        <div class="pull-left"><i class="ti-blackboard mr-20"></i><span class="right-nav-text">Cash Drawers </span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>

    <li>
      <%=link_to admin_orders_path do%>
        <div class="pull-left"><i class="ti-bar-chart mr-20"></i><span class="right-nav-text">Order</span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>

    <li>
      <%=link_to admin_deliveries_path do%>
        <div class="pull-left"><i class="ti-truck mr-20"></i><span class="right-nav-text">Delivery</span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>

    <li>
      <%=link_to admin_order_items_path do%>
        <div class="pull-left"><i class="ti-money mr-20"></i><span class="right-nav-text"><%= session[:order_count].present? ? "Sales (#{session[:sale_count]})" : "Sales"%></span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>

    <li>
      <%=link_to admin_reports_path do%>
        <div class="pull-left"><i class="ti-agenda mr-20"></i><span class="right-nav-text">Report</span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>

  </ul>
</div>
<!-- /Left Sidebar Menu -->
