<!-- Top Menu Items -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="nav-wrap">
    <div class="mobile-only-brand pull-left">
      <div class="nav-header pull-left">
        <div class="logo-wrap">
          <img class="brand-img" src="/mashisoyologo.png" alt="brand"/>
          <span class="brand-text"><img  src="/mashisoyologo.png" alt="brand"/></span>
        </div>
      </div>
      <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);">
        <i class="ti-align-left"></i>
      </a>
    </div>
    <div id="mobile_only_nav" class="mobile-only-nav pull-right">
      <ul class="nav navbar-right top-nav pull-right">
        <li class="dropdown auth-drp">
          <a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
          <%if current_user.image.present?%>
            <img src="<%=current_user.image.url%>" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
          <%else%>
            <img src="/profile.png" alt="user_auth" class="user-auth-img img-circle" /><span class="user-online-status"></span></a>
          <%end%>
          <ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
            <li class="divider"></li>
            <li>
              <%=link_to destroy_user_session_path, method: :delete do%>
              <i class="zmdi zmdi-power"></i><span>Log Out</span>
              <%end%>
            </li>
          </ul>
        </li>
        <li>
        <% if I18n.locale == :km %>
          <%= link_to url_for(params.permit(:locale).merge({locale: 'en'})), data: { turbolinks: false } do %>
            <img src="en.svg" width="40"> 
          <%end%>
        <% else %>
          <%= link_to url_for(params.permit(:locale).merge({locale: 'km'})), data: { turbolinks: false } do %>
            <img src="km.svg" width="40">
          <%end%>
        <% end %>
      </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Top Menu Items -->

<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span>Main</span>
      <hr />
    </li>
    <li>
      <%=link_to sales_path do%>
        <div class="pull-left">
          <i class="ti-dashboard mr-20"></i>
          <span class="right-nav-text"><%=t('.sales')%></span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>
    <li>
      <%=link_to customers_path do%>
        <div class="pull-left">
          <i class="ti-user mr-20"></i>
          <span class="right-nav-text"><%=t('.customers')%></span></div>
        <div class="clearfix"></div>
      <%end%>
    </li>
    <li>
      <%=link_to orders_path(state: "ordered") do%>
        <div class="pull-left">
          <i class=" ti-receipt mr-20"></i>
          <span class="right-nav-text session_order_count">
            <%=t('.orders')%> (<%= "#{ Order.where("is_paid=? AND order_status=? AND order_date=?", false, "order",DateTime.now.to_date).count}" %>)
          </span>
        </div>
        <div class="clearfix"></div>
      <%end%>
    </li>
    <li>
      <%=link_to orders_path(state: "completed") do%>
        <div class="pull-left">
          <i class="ti-clipboard mr-20"></i>
          <span class="right-nav-text">
            <%=t('.invoices')%> (<%= "#{ Order.where('is_paid=? AND order_status=? AND order_date=?', true, "completed",DateTime.now.to_date).count}" %>)
          </span>
        </div>
        <div class="clearfix"></div>
      <%end%>
    </li>
    <li>
      <%=link_to cash_drawers_path do%>
        <div class="pull-left">
          <i class="ti-key mr-20"></i>
          <span class="right-nav-text">
            <%=t('.Cash Drawer')%>
          </span>
        </div>
        <div class="clearfix"></div>
      <%end%>
    </li>
    <%if current_user.role == "admin"%>
      <li>
        <%=link_to order_items_path do%>
          <div class="pull-left"><i class="ti-money mr-20"></i><span class="right-nav-text"><%= @orders_count.count > 0 ? "Sales (#{@orders_count.count})" : "Sales"%></span></div>
          <div class="clearfix"></div>
        <%end%>
      </li>
    <%else%>
      <li>
        <%=link_to order_items_path do%>
          <div class="pull-left"><i class="ti-money mr-20"></i><span class="right-nav-text"><%= session[:order_count].present? ? "Sales (#{session[:sale_count]})" : "Sales"%></span></div>
          <div class="clearfix"></div>
        <%end%>
      </li>
    <%end%>


  </ul>
</div>
<!-- /Left Sidebar Menu -->