<div class="wrapper theme-2-active navbar-top-light horizontal-nav">
	<%=render "components/nav"%>
	<%=render "components/setting"%>
	<!-- Main Content -->
	<div class="page-wrapper">
		<div class="container pt-30">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-success card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<h6 class="panel-title txt-light">Cash Drawer Detail</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<span>
									Cash Drawer Date:
									<span><%=@cash_drawer.cash_drawer_date%></span>
								</span>
								<hr>
								<span>
									Cash Drawer Amount:
									<span><%=number_to_currency(@cash_drawer.cash_drawer_amout)%></span>
								</span>
								<hr>
								<div class="pull-left">
									<%=link_to "Cancel", admin_cash_drawers_path, class: "btn btn-warning"%>
									<%=link_to "Edit", edit_admin_cash_drawer_path(@cash_drawer), class: "btn btn-success"%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%=render "components/footer"%>

	</div>
	<!-- /Main Content -->
</div>
