<tr class="delete_customer_<%=customer.id%>">

  <td>
    <%= customer.customer_name%>
  </td>

  <td>
    <%=time_ago(customer.created_at)%>
  </td>

  <td>
    <%=form_for([:admin, customer], remote: true) do |f|%>
      <%=link_to admin_customer_path(customer),class: "btn btn-primary", email: "View" do %>
        View
      <%end%>
      <%=link_to edit_admin_customer_path(customer),class: "btn btn-primary", email: "Edit",id: "show-form_#{customer.id}" do %>
        Edit
      <%end%>
    <%end%>
  </td>
</tr>
