<div class="card-panel white" id="admin">
  <div class="row">
    <div class="col s12">
      <%= simple_form_for [:admin, @customer], :html => {:multipart => true} do |f| %>
        <% if @customer.errors.any? %>
          <div id="error_explanation">
            <h4>
              <%= pluralize(@customer.errors.count, "error") %>
              <%= t('.error_save') %>
            </h4>
            <ul>
              <% @customer.errors.full_messages.each do |message| %>
                <li>
                  <%= message  %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.input :customer_name, label: "#{t('.name')}" %>
          </div>
          <div class="input-field col s6">
            <%= f.input :phone, label: "#{t('.phone')}" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.input :email, label: "#{t('.email')}" %>
          </div>
          <div class="input-field col s6">
            <%= f.input :address, label: "#{t('.address')}" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <h6></h6>
            <%= f.country_select :country %>
          </div>
          <div class="file-field input-field col s6">
            <div class="btn indigo darken-4">
              <span>
                <%= t('.photo') %>
              </span>
              <%= f.file_field :photo %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" placeholder="<%= t('.photo_placeholder') %>" type="text">/</input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.button :submit, "#{t('.create_customer')}", :class => "btn-large indigo darken-4" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
