<!-- Main Content -->
<div class="page-wrapper">
  <div class="container pt-30">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-success card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-light">Edit Product</h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <%= simple_form_for @order do |f| %>
              <% if @order.errors.any? %>
              <div id="error_explanation">
                <h4>
                  <%= pluralize(@order.errors.count, "error") %>
                  prohibited this cash drawer from being saved:
                </h4>
                <ul>
                  <% @order.errors.full_messages.each do |message| %>
                    <li>
                      <%= message %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <% end %>
              <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="recipient-name" class="control-label mb-10">Table</label>
                  <%=f.select :table_number, Order::OPTION_TABLE, {}, class: "form-control"%>
                </div>
              </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Order Date</label>
                    <%= f.text_field :order_date, :class => 'form-control', placeholder: "Choose order date", disabled: true %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Order Time</label>
                    <%= f.text_field :order_time, :as => :string, :value => time_format(f.object.order_time), :class => 'form-control', label: false, placeholder: "Choose order time", disabled: true %>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Customer</label>
                    <%=f.collection_select :customer_id, Customer.all, :id, :customer_name, { prompt: "Select Customer" } , {class: "form-control select2"}%>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="modal-footer">
                    <%if params[:status] == "order"%>
                      <%=link_to "Back To Sale", sales_path(order_id: current_order.id), class: "btn btn-default"%>
                    <%else%>
                      <%=link_to "Back To Sale", sales_path, class: "btn btn-default"%>
                    <%end%>
                    <%=f.submit class: "btn btn-success"%>

                  </div>
                </div>
              </div>

            <%end%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%=render "applications/footer"%>

</div>
<!-- /Main Content -->
