<div class="wrapper theme-2-active navbar-top-light horizontal-nav">
  <%=render "applications/nav"%>
  <%=render "applications/setting"%>
  <!-- Main Content -->
  <div class="page-wrapper">
    <div class="container pt-30">
      <!-- Row -->
      <div class="row">
        <div class="panel panel-default border-panel card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-dark">Table</h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">

              <div class="table-wrap mt-40">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Table Number</th>
                        <th>Status</th>
                        <th>Sub Total</th>
                        <th style="text-align: center;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%@orders.each do |order|%>
                        <tr class="delete_order_<%=order.id%>">
                          <td>                         
                            <%if order.table_number.split(" ")[0] == "Take"%>
                              <%= link_to sales_path(order_id: order.id, status: order.order_status), data: { turbolinks: false } do%>                                                    
                                <div class="<%= order.table_number.split(" ")[0] == "Take" ? "table_none" : "display_table_number"%>">
                                  Add Table
                                </div>
                              <%end%>
                            <%else%>
                              <%= link_to sales_path(order_id: order.id, status: order.order_status), data: { turbolinks: false } do%>                                                    
                                <div class="<%= order.table_number.split(" ")[0] == "Take" ? "table_none" : "display_table_number"%>">
                                  Table <%=order.table_number%>
                                </div>
                              <%end%>
                            <%end%>
                          </td>
                          <td><%=order.order_status%></td>
                          <td><%=number_to_currency(order.subtotal)%></td>
                          <td class="text-nowrap" style="text-align: right;">
                            <%= link_to edit_order_path(order), class: "mr-25", data: { turbolinks: false }  do %>
                             <i class="btn btn-primary">Edit</i>
                            <% end %>
                            <%= link_to order_path(order),class: "mr-25", data: { turbolinks: false }  do %>
                             <i class="btn btn-success">Print</i>
                            <% end %>
                            <%= link_to order_path(order), class: "mr-25", method: :delete, data: { confirm: 'Are you sure want to delete?' }, remote: true do %>
                              <i class="btn btn-danger">delete</i>
                            <% end %>
                          </td>
                        </tr>
                      <%end%>
                    </tbody>  
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /Row -->
    </div>

    <%=render "applications/footer"%>

  </div>
  <!-- /Main Content -->
</div>