<style type="text/css">

	@media print {
		@page {
			size: auto;
			/* auto is the current printer page size */
			margin: 0mm;
			/* this affects the margin in the printer settings */
		}

		#cancel,
		#print {
			display: none;
		}

		th{
			font-size: 11px;
		}

	}

	* {
		font-size: 12px;
		font-family: 'Times New Roman';
	}

	td,
	th,
	tr,
	table {
		border-top: 0px solid black;
		border-collapse: collapse;
	}

	td.description,
	th.description {
		width: 130.36px;
		max-width: 302.36px;
		text-align: left;
		padding: 5px;
	}

	td.quantity,
	th.quantity {
		width: 302.36px;
		max-width: 302.36px;
		word-break: break-all;
		text-align: center;
	}

	td.price,
	th.price {
		width: 302.36px;
		max-width: 302.36px;
		word-break: break-all;
		text-align: left;
	}

	.centered {
		text-align: center;
		align-content: center;
	}

	.ticket {
		max-width: 70mm;
	}

	img {
		max-width: inherit;
		width: inherit;
	}

	.navbar,
	.fixed-sidebar-left {
		display: none;
	}

  .pay-btn{
    background: #ff6028;
    padding: 20px 120px;
		color: #fff;
		font-size: 16px;
	}
	.pay-cancel{
		background:#dcdcdc;
    padding: 20px 112px;
		color: #000;
		font-size: 16px;
	}

</style>

<div class="wrapper theme-2-active navbar-top-light horizontal-nav">
	<!-- Main Content -->
	<div class="page-wrapper" style="padding-top: 0px; background: white;">
		<div class="container pt-30">
			<div class="row">
				<div class="col-lg-4">
				</div>
				<div class="col-lg-4">
					<div class="ticket">
						<p class="centered">
							<div>
								<div style="margin-bottom: 5px;"></div>
								<div style="margin-bottom: 5px;"></div>
								<p style=" margin: 0px;"><span style="float: right; margin-right: 10px;">Cashier: <%=@order.user.username.capitalize%></span></p>
								<br>
								<%if @order.checkout_date.present?%>
									<div style="margin-bottom: 5px;"></div>
									<p style=" margin: 0px;"><span style="float: right; margin-right: 10px;">Date: <%=@order.checkout_date.strftime("%B %d, %Y")%></span></p>
									<br>
								<%else%>
									<div style="margin-bottom: 5px;"></div>
									<p style=" margin: 0px;"><span style="float: right; margin-right: 10px;">Date: <%=@order.created_at.strftime("%B %d, %Y")%></span></p>
									<br>
								<%end%>
								<%if @order.checkout_time.present?%>
									<div style="margin-bottom: 5px;"></div>
									<p style=" margin: 0px;"><span style="float: right; margin-right: 10px;">Time: <%=@order.order_time.strftime("%I:%M %p")%></span></p>
								<%else%>
									<div style="margin-bottom: 5px;"></div>
									<p style=" margin: 0px;"><span style="float: right; margin-right: 10px;">Time: <%=Time.now.strftime("%I:%M %p")%></span></p>
								<%end%>
								<br>
								<div style="margin-bottom: 5px;"></div>
								<p style=" margin: 0px;"><span style="float: right; margin-right: 10px;">Invoice No: <%= '%05d' % @order.id %></span></p>
								<br>
								<h1>
									<span style="margin-right: 10px; font-size: 20px;">Table No: <%=@order.table_number.split(" ")[0]%> <%=@order.table_number.split(" ")[1]%></span>
								</h1>
							</div>
							<table>
								<thead>
									<tr>
										<th class="description">Description</th>
										<th class="quantity">QTY</th>
									</tr>
								</thead>
								<tbody>
									<%@order.order_items.each do |order|%>
										<tr style="border-top: 1px solid black; border-bottom: 1px solid black;">
											<td class="description"><%=order.product.product_name%></td>
											<td class="quantity"><%=order.quantity%></td>
										</tr>
									<%end%>
								</tbody>
							</table>
							<p style="font-size: 16px;"><%=@order.note%></p>
							<br><br><br>
					</div>

					<br />
					<%=link_to print_to_kitchen_path(@order), class: "pay-btn", onclick: "printReciept();", id: "print", style:"padding: 20px 80px;"  do%>
							Print To Kitchen
					<%end%>
					<br><br><br><br><br>
					<%=link_to "Cancel", sales_path, class: "pay-cancel", id: "cancel"%>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
		</div>

	</div>
	<!-- /Main Content -->
</div>

<script>
	function printReciept(){
		window.print();
	}
</script>