<div class="page-wrapper">
  <div class="container">
    <!-- Title -->
    <div class="row heading-bg">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Fash Cash</h5>
      </div>
    </div>
    <!-- /Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-success card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-light">Manual</h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <%= simple_form_for :cash do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">USD</label>
                    <%=f.number_field :usd, as: :float, class: "form-control", placeholder: "USD $", value: 0%>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Riel</label>
                    <%=f.number_field :riel, as: :float, class: "form-control", placeholder: "Riel ៛", value: 0%>
                  </div>
                </div>
              </div>

            <%end%>

            <%= link_to "Accept", sales_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Row -->
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default card-view pa-0">
          <div class="panel-wrapper collapse in">
            <div class="panel-body pa-0">
                <div class="col-lg-12 col-md-12 file-sec pt-15">
                  <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 100), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">100$</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 50), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">50$</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 25), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">25$</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 15), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">15$</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 10), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">10$</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 5), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">5$</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 1), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">1$</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default card-view pa-0">
          <div class="panel-wrapper collapse in">
            <div class="panel-body pa-0">
                <div class="col-lg-12 col-md-12 file-sec pt-15">
                  <div class="row">
                    <div class="col-lg-12">
                        <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 40000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">40000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 35000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">35000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 30000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">30000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 25000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">25000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 20000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">20000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 15000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">15000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 10000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">10000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 5000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">5000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  file-box">
                          <div class="file">
                            <%= link_to set_cash_path(cash: 2000), method: 'post' do %>
                              <div class="icon">
                                <i class="center" style="color: #000;">20000៛</i>
                              </div>
                            <% end %>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Row -->

  </div>
  <!-- Footer -->




<%=render "jquery"%>
<script>
  $(document).ready(function(){
    $('#cash_usd').on('change', function() {
      console.log($('#cash_usd').val());
      usd = $('#cash_usd').val();
      if (usd === 0) {
        return;
      } else {
        data = new Object;
        data['usd'] = $('#cash_usd').val();
        return $.ajax('/namual_cash/usd', {
          type: 'post',
          dataType: 'json',
          data: data,
          success: function(data) {

          }
        });
      }
    });

    $('#cash_riel').on('change', function() {
      console.log($('#cash_riel').val());
      riel = $('#cash_riel').val();
      if (riel === 0) {
        return;
      } else {
        data = new Object;
        data['riel'] = $('#cash_riel').val();
        return $.ajax('/namual_cash/riel', {
          type: 'post',
          dataType: 'json',
          data: data,
          success: function(data) {

          }
        });
      }
    });

  });
</script>
