<div class="page-wrapper">
  <div class="container">
    <!-- Title -->
    <div class="row heading-bg">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-dark">Fash Cash</h5>
      </div>
    </div>
    <!-- /Title -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-success card-view">
          <div class="panel-heading">
            <div class="pull-left">
              <h6 class="panel-title txt-light">Manual</h6>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <%= simple_form_for :cash do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">USD</label>
                    <%=f.number_field :usd, as: :float, class: "form-control", placeholder: "USD $", value: 0.0%>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label mb-10">Riel</label>
                    <%=f.number_field :riel, as: :float, class: "form-control", placeholder: "Riel ៛", value: 0.0%>
                  </div>
                </div>
              </div>

            <%end%>

            <%= link_to "Accept", sales_path, class: 'btn btn-success' %>
            <%= link_to "Reset", set_cash_path(cash: 0, cash_in_riel: 0, total_cash_in_riel: 0), method: 'post', class: 'btn btn-danger'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Footer -->
