<div class="col-sm-9">
  <div class="panel panel-default border-panel card-view">
    <div class="panel-heading">
      <div class="pull-left">
        <h6 class="panel-title txt-dark">Report</h6>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-wrapper collapse in">
      <div class="panel-body">
        <div class="table-wrap mt-40">
          <div class="table-responsive">
            <% if @dailly_sales.present? %>
            <table id="example" class="cell-border">
              <thead>
                <tr>
                  <th>OrderID</th>
                  <th>Order Date</th>
                  <th>Discount(Order)</th>
                  <th>Discount(Product)</th>
                  <th>VAT</th>
                  <th>Delivery Fee</th>
                  <th>Total + VAT + Delivery Fee</th>
                  <th>Total</th>
                  <th>Profit</th>
                </tr>
              </thead>
              <tbody>
                <% @dailly_sales.each do |order| %>
                <tr>
                  <td>
                    <%= '%05d' % order.id %>
                  </td>  
                  <td>
                    <%= order.order_date.to_s(:long) %>
                  </td> 
                  <td>
                    <%= number_to_percentage order.discount, precision: 0 %>
                  </td>
                  <td>
                    <%=number_to_percentage order.order_items.sum(:discount), precision: 0%>
                  </td>
                  <td><%=number_to_percentage order.tax, precision: 0%></td>
                  <%if order.delivery_fee.present?%>
                    <td><%= number_to_percentage order.delivery_fee, precision: 0%></td>
                  <%else%>
                    <td><%= number_to_percentage order.delivery_fee%></td>
                  <%end%>
                  <td>
                    <%= number_to_currency(order.total + (order.subtotal * (order.delivery_fee / 100)))%>
                  </td>
                  <td><%= number_to_currency(order.total)%></td>
                  <td>
                    <%= number_to_currency order.profit %>
                  </td>            
                </tr>
                <%end%>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><strong>Total: <%=number_to_currency @dailly_sales.sum(:total)%></strong></td>
                  <td><strong>Profit: <%=number_to_currency @dailly_sales.sum(:profit)%></strong></td>
                </tr>
                <tr>
                  <td colspan="1">Report From: <%=params[:report][:dailly_sale_date_from]%> to <%=params[:report][:dailly_sale_date_to]%></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>