<div class="col-sm-9">
  <div class="panel panel-default border-panel card-view">
    <div class="panel-heading">
      <div class="pull-left">
        <h6 class="panel-title txt-dark">Report</h6>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-wrapper collapse in">
      <div class="panel-body">
        <div class="table-wrap mt-40">
          <div class="table-responsive">
            <% if @dailly_sales.present? %>
            <table id="example" class="cell-border">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Discount</th>
                  <th>Total</th>
                  <th>Profit</th>
                  <th>Order Date</th>
                </tr>
              </thead>
              <tbody>
                <% @dailly_sales.each do |order| %>
                <tr>
                  <td>
                    <%= number_to_percentage order.discount, precision: 0 %>
                  </td>
                  <td>
                    <%= number_to_currency order.total %>
                  </td>
                  <td>
                    <%= number_to_currency order.profit %>
                  </td>
                  <td>
                    <%= '%09d' % order.id %>
                  </td>
                  <td>
                    <%= order.order_date %>
                  </td>               
                </tr>
                <%end%>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><strong>Total Sales: <%= number_to_currency @dailly_sales.sum(:profit) %></strong></td>
                </tr>
              </tbody>
            </table>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>