<div class="wrapper theme-2-active navbar-top-light horizontal-nav">
	<%=render "components/nav"%>
	<%=render "components/setting"%>
	<!-- Main Content -->
	<div class="page-wrapper">
		<div class="container pt-30">
			<!-- Row -->
			<div class="row">
				<div class="col-sm-12">
          <div class="panel panel-default border-panel card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Report</h6>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="tab-struct custom-tab-2 mt-40">
										<ul role="tablist" class="nav nav-tabs" id="myTabs_15">
											<li class="active" role="presentation"><a aria-expanded="true" data-toggle="tab" role="tab" id="home_tab_15" href="#dailysale">Daily Sale</a></li>
											<li role="presentation" class=""><a data-toggle="tab" id="profile_tab_15" role="tab" href="#seller" aria-expanded="false">By Seller</a></li>
                      <li role="presentation" class=""><a data-toggle="tab" id="profile_tab_15" role="tab" href="#category" aria-expanded="false">By Category</a></li>
                      <li role="presentation" class=""><a data-toggle="tab" id="profile_tab_15" role="tab" href="#cashdrawer" aria-expanded="false">By Cash Drawer</a></li>
										</ul>
										<div class="tab-content" id="myTabContent_15">
											<div id="dailysale" class="tab-pane fade active in" role="tabpanel">
												<h3>Dailly Sale</h3>
                        <%= simple_form_for :report, :url => admin_reports_path, method: "get" do |f| %>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="recipient-name" class="control-label mb-10">Date From</label>
                                <%= f.date_field :dailly_sale_date_from, class: "form-control", value: session[:dailly_sale_date_from],placeholder: 'Choose one from date' %>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="recipient-name" class="control-label mb-10">To Date</label>
                                  <%= f.date_field :dailly_sale_date_to, class: "form-control", value: session[:dailly_sale_date_to],placeholder: 'Choose one to date' %>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="modal-footer">
                                <%=link_to "Reset", admin_reports_path, class: "btn btn-danger"%>
                                <%=f.submit "Result", class: "btn btn-success"%>
                              </div>
                            </div>
                          </div>
                        <% end %>
											</div>
											<div id="seller" class="tab-pane fade" role="tabpanel">
												<p>Seller</p>
											</div>
											<div id="category" class="tab-pane fade " role="tabpanel">
												<p>Category</p>
											</div>
											<div id="cashdrawer" class="tab-pane fade" role="tabpanel">
												<p>Cashdrawer</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
        <div class="col-sm-12">
          <div class="panel panel-default border-panel card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Report</h6>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
                    <div class="table-wrap mt-40">
										<div class="table-responsive">
                      <% if @dailly_sales.present? %>
                        <table class="table mb-0">
                          <thead>
                            <tr>
                            <th>#</th>
                            <th>Order Date</th>
                            <th>Checkout Date</th>
                            <th>Sub Total</th>
                            <th>Discount</th>
                            <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @dailly_sales.each do |order| %>
                              <tr>
                                <td>
                                  <%= '%09d' % order.id %>
                                </td>
                                <td>
                                  <%= order.order_date %>
                                </td>
                                <td>
                                  <%= order.checkout_date %>
                                </td>
                                <td>
                                  <%= number_to_currency order.subtotal %>
                                </td>
                                <td>
                                  <%= number_to_percentage order.discount %>
                                </td>
                                <td>
                                  <%= number_to_currency order.total %>
                                </td>
                              </tr>
                           <%end%>
                          </tbody>
                        </table>
                      <%end%>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
    
      
			<!-- /Row -->
		</div>

		<%=render "components/footer"%>

	</div>
	<!-- /Main Content -->
</div>

