<div class="wrapper theme-2-active navbar-top-light horizontal-nav">
	<%=render "components/nav"%>
	<%=render "components/setting"%>
	<!-- Main Content -->
	<div class="page-wrapper">
		<div class="container pt-30">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-success card-view">
						<div class="panel-heading">
							<div class="pull-left">
								<h6 class="panel-title txt-light">Edit Product</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="panel-wrapper collapse in">
							<div class="panel-body">
								<%=simple_form_for([:admin, @product]) do |f|%>
								<div class="row">
									<div class="col-md-6">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Category</label>
							        <%=f.collection_select :category_id, Category.all, :id, :category_name, { prompt: "Select Category" } , {class: "form-control select2"}%>
							      </div>
							    </div>

							    <div class="col-md-6">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Product Name</label>
							        <%=f.text_field :product_name, class: "form-control"%>
							      </div>
									</div>
									
							    <div class="col-md-6">
							      <div class="form-group">
							        <label for="recipient-name" class="control-label mb-10">Product Price</label>
							        <%=f.number_field :product_price, class: "form-control", step: "any" %>
							      </div>
							    </div>

							    <div class="col-md-6">
										<div class="form-group">
											<label for="recipient-name" class="control-label mb-10">Original Price</label>
											<%=f.number_field :original_price, class: "form-control", step: :any%>
										</div>
									</div>

							    <div class="col-md-12">
							      <div class="form-group">
							        <%=f.text_area :description, class: "form-control", rows: "10"%>
							      </div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label for="recipient-name" class="control-label mb-10">Discountinue</label>
											<br>
											<%=f.check_box :status%>
										</div>
									</div>
									
							    <div class="col-md-12">
							      <div class="control-group file-upload" id="file-upload1">
							      <h3>Upload Photo</h3>
										<%if @product.image.present?%>
                      <img class="image-box" src="<%=@product.image.url%>" alt="">
                    <%else%>
                      <div class="image-box text-center"><p>Upload Image</p><img src="" alt=""></div>
                    <%end%>
                    <div class="controls">
                    	<%=f.file_field :image%>
                    </div>
							    </div>
									<div class="col-md-12">
										<div class="modal-footer">
											<%=link_to "Cancle", admin_products_path, class: "btn btn-default"%>
											<%=f.submit class: "btn btn-success"%>
										</div>
									</div>
								</div>

							<%end%>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%=render "components/footer"%>

</div>
<!-- /Main Content -->
</div>
