<% if @order_items.present? %>
  <% if session[:customer_id].present? %>
    <%= link_to Customer.find(session[:customer_id]).customer_name, customers_path%>
    <% elsif @order_items.first.order.customer_id != 1 %>
      <%= link_to @order_items.first.order.customer.customer_name, customers_path %>
    <% end %>
    <div class="row">
      <!-- Basic Table -->
      
      <div class="col-lg-4">
        <%if params[:status] == "order"%>
          <%= link_to edit_order_path(@order_items.last.order.id, redirect: 'sales', status: current_order.order_status), class: 'btn btn-default', style: "margin-left: 0; width: 100%;", data: { turbolinks: false } do %>
            <i class="" style="font-size: 18px;">Choose Table</i>
          <% end %>
        <%else%>
          <%= link_to edit_order_path(@order_items.last.order.id, redirect: 'sales'), class: 'btn btn-default', style: "margin-left: 0; width: 100%;", data: { turbolinks: false } do %>
            <i class="" style="font-size: 18px;">Choose Table</i>
          <% end %>
        <%end%>
      </div>
      <div class="col-lg-4">     
        <%= link_to fast_cash_index_path(order_id: @order_items.last.order.id, redirect: 'sales'), class: 'btn btn-primary', style: "width: 100%;", data: { turbolinks: false } do %>
          <i class="" style="font-size: 18px;">Fast Cash</i>
        <% end %>
      </div>
      <div class="col-lg-4">
        <%= link_to send_to_order_path, class: "btn btn-default", style: "width: 100%;", remote: true do %>
          <i class="" style="font-size: 18px;">Save To Order (<%= "#{session[:order_count] if session[:order_count].present?}" %>)</i>
        <% end %>
      </div>
      <div class="col-sm-12">
        <div class="table-wrap">
          <div class="table-responsive">
            <div id="datable_1_wrapper" class="dataTables_wrapper">
              <table class="table display product-overview mb-30 dataTable" id="datable_1" role="grid">
                <thead>
                  <tr role="row">
                    <th style="width: 185px;">Photo</th>
                    <th style="width: 246px;">Product</th>
                    <th style="width: 406px;">Quantity</th>
                    <th style="width: 116px;">price</th>
                    <th style="width: 155px;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @order_items.each do |order_item| %>
                    <tr role="row" class="odd">
                      <td class="sorting_1">
                        <img src="<%=order_item.product.photo%>" alt="iMac" height="80">
                      </td>
                      <td class="txt-dark"><%= order_item.product.product_name %></td>
                      <td>
                        <%=order_item.quantity%>
                      </td>
                      <td><%= number_to_currency order_item.unit_price, precision: 2 %></td>

                      <td>
                        <%= link_to edit_order_item_path(order_item), data: { turbolinks: false }, style: "margin-bottom: 5px;", class: "btn btn-primary" do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to sales_order_item_destroy_path(order_item), class: '', data: { turbolinks: false }, style: "margin-bottom: 5px;", method: :delete, remote: true, class: "btn btn-danger" do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Basic Table -->
</div>
<div class="row">
  <div class="col-sm-12" style="margin-top: 20px;">
    <%if @order_items.last.order.cash == 0%>
      <p>
        <label for="" class="lable-order"><%= t('.Customer Riel Cast') %>:
        </label>
        <span id="cash_in_riel">
          <%= number_to_currency @order_items.last.order.cash_in_riel , precision: 2 %>
        </span>
      </p>
    <%else%>
      <p>
        <label for="" class="lable-order"><%= t('.Customer Riel Cast') %>:</label>
        <span id="cash">
          <%= number_to_currency @order_items.last.order.cash , precision: 2 %>
        </span>
      </p>
    <%end%>
    <p >
      <label for="" class="lable-order"><%= t('.subtotal') %>:</label>
      <span id="sub_total">
        <%= number_to_currency @order_items.last.order.subtotal, precision: 2 %>
      </span>     
    </p>
    <p>
      <label for="" class="lable-order"><%= t('.tax') %>:</label>
      <span id="tax">
        <%= number_to_currency @order_items.last.order.tax, precision: 2 %>
      </span>
    </p>
    <p>
      <label for="" class="lable-order"><%= t('.discount') %>:</label>
      <span id="discount">
        <%= number_to_percentage @order_items.last.order.discount, precision: 2 %>
      </span>
    </p>
    <% if @order_items.last.order.total_cash_in_riel > 0 %>
      <p>
        <label for="" class="lable-order"><%= t('.change_dollar') %>:</label>       
        <span id="total_cash_in_riel">
          <%= number_to_currency ((@order_items.last.order.total_cash_in_riel / Constant::exchange_rate) - @order_items.last.order.total), precision: 2 %>
        </span>
      </p>
    <% end %>
    <%if @order_items.last.order.cash_in_riel == 0 && @order_items.last.order.cash == 0%>
      <p>
        <label for="" class="lable-order"><%= t('.change_riel') %>:</label>
        <span id="total_cash_in_riel_zero">
          <%= "#{0}"%>
        </span>
      </p>
    <%else%>
      <%if @order_items.last.order.cash_in_riel == 0%>
        <p>
          <label for="" class="lable-order"><%= t('.change_riel') %>:</label>
          <span id="change_riel">
            <%= "#{(@order_items.last.order.total_cash_in_riel - (@order_items.last.order.total * Constant.exchange_rate)) / 4100 * 4000 }"%>
          </span>     
        </p>
        <%else@order_items.last.order.cash == 0%>
          <p>
            <label for="" class="lable-order"><%= t('.change_riel') %>:</label>
            <span id="change_riel">
             <%= "#{(@order_items.last.order.total_cash_in_riel - (@order_items.last.order.total * Constant.exchange_rate)) }"%>
            </span>   
          </p>
        <%end%>
      <%end%>
      <p>
        <label for="" class="lable-order"><%= t('.grand_total') %>:</label>
        <span id="grand_total">
          <%= number_to_currency @order_items.last.order.total, precision: 1 %>
        </span>
      </p>
      <p>
        <label for="" class="lable-order"><%= t('.grand_total_riel') %>:</label>
        <span id="grand_total_riel">
          <%= "#{@order_items.last.order.total * Constant.exchange_rate}"%>
        </span>
      </p>
    </div>
    <div class="col-lg-12">
      <%= link_to "checkout", sale_path(@order_items.last.order), class: 'btn btn-success', style: "width: 100%;" %>
    </div>
  </div>
<% end %>
